.dc-sidebar-scroll {
  scrollbar-width: thin;
  scrollbar-color: #333 transparent;
}

.dc-sidebar-scroll::-webkit-scrollbar {
  width: 5px;
}

.dc-sidebar-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.dc-sidebar-scroll::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 3px;
}

.dc-sidebar-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.25);
}

.dc-sidebar-nav-scroll {
  scrollbar-width: thin;
  scrollbar-color: #333 transparent;
}

.dc-sidebar-nav-scroll::-webkit-scrollbar {
  width: 5px;
}

.dc-sidebar-nav-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.dc-sidebar-nav-scroll::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 3px;
}

.dc-sidebar-nav-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.25);
}