body {
    background-color: #1c1c1e;
    font-family: 'Arial', sans-serif;
    color: white;
}

.dashboard-container {
    padding: 20px;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}

.search-box {
    padding: 10px;
    font-size: 16px;
    background-color: #444;
    border: 1px solid #555;
    color: white;
    border-radius: 4px;
    width: 100%;
    max-width: 400px;
    margin-right: 40px;
}

.chart-section, .d3-section, .table-section, .insights-section, .line-chart-section {
    margin: 20px 0;
    background-color: #222;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

canvas {
    margin-top: 20px;
    display: block;
    max-width: 100%;
    height: auto;
}

h1 {
    margin-left: 20px;
    color: #0ff;
}

h2 {
    color: #ff0077;
}

#d3Chart {
    height: 300px;
}

.table-section {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #444;
}

th {
    background-color: #333;
    color: #ffcc00; 
}

td {
    color: #fff;
}

tr:nth-child(even) {
    background-color: #2a2a2d;
}

.dropdown {
    position: absolute;
    background-color: #333;
    color: white;
    padding: 10px;
    border: 1px solid #555;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}

.dropdown-item {
    padding: 5px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #444;
}

.dropdown-arrow {
    font-size: 10px;
    margin-left: 5px;
    cursor: pointer;
}

.pagination button {
    padding: 1px 20px;
    margin-top: 27.5px;
    background-color: #0077ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: right;
    margin-right: 0px;
    height: 30px;
    margin-left: 10px;
} 

.pagination button:hover {
    background-color: #005bb5;
}

.input-section {
    display: flex;
    margin: 20px 0;
}

.input-section div {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.input-section input,
.input-section select {
    padding: 10px;
    border-radius: 4px;
    margin-right: 20px;
    border: 1px solid #555;
    background-color: #444;
    color: white;
    min-width: 200px;
    max-width: 300px;
}

.input-section button {
    padding: 1px 20px;
    margin-top: 27.5px;
    background-color: #0077ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: right;
    margin-right: 0px;
    height: 40px;
    margin-left: 40px;
}

.input-section button:hover {
    background-color: #005bb5;
}
